<div ng-if="vm.showView">
    <form name="form" novalidate>
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Creer une newsletter</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.$submitted && form.nom.$error.required }">
                        <label class="control-label" for="nom">Nom</label>
                        <input data-ng-model="vm.newsletter.nom" required="" name="nom"
                               type="text" class="form-control" id="nom">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.$submitted && form.periodiciteValeur.$error.required }">
                        <label class="control-label" for="periodiciteValeur">Interval</label>
                        <input data-ng-model="vm.newsletter.periodiciteValeur" required="" name="periodiciteValeur"
                               type="number" class="form-control" id="periodiciteValeur">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.$submitted && form.periodiciteUnite.$error.required }">
                        <label class="control-label" for="periodiciteUnite">Périodicité</label>
                        <select data-ng-model="vm.newsletter.periodiciteUnite" required="" name="periodiciteUnite"
                                class="form-control" id="periodiciteUnite">
                            <option value="{{ vm.periodiciteUnite.jour }}">Jour</option>
                            <option value="{{ vm.periodiciteUnite.semaine }}">Semaine</option>
                            <option value="{{ vm.periodiciteUnite.mois }}">Mois</option>
                            <option value="{{ vm.periodiciteUnite.annee}}">Année</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.$submitted && form.prochainEnvoi.$error.required }">
                        <label class="control-label" for="prochainEnvoi">Date de prochain envoi</label>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{ format }}"
                                   ng-model="vm.newsletter.dateEnvoi"
                                   id="prochainEnvoi" name="prochainEnvoi"
                                   is-open="popup.opened" datepicker-options="dateOptions" ng-required="true"
                                   close-text="Fermer" current-text="Aujourd'hui" clear-text="Effacer"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.$submitted && form.corps.$error.required }">
                    <label class="control-label" for="corps">Contenu de la newsletter</label>
                    <textarea class="ckeditor form-control" ckeditor="vm.ckeditorOptions"
                              ng-model="vm.newsletter.corps"
                              name="corps"
                              id="corps" placeholder="Contenu" required=""></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="vm.ajoutNewsletterEnCours" type="submit" ng-click="vm.creerNewsletter(form)">Créer</button>
            <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Annuler</button>
        </div>
    </form>
</div>