# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: /(.*)
            context: user
            form_login:
                provider: fos_userbundle
                login_path: /login
                use_forward: false
                check_path: /login_check
                failure_path:   null
                csrf_token_generator: security.csrf.token_manager
                # if you are using Symfony < 2.8, use the following config instead:
                # csrf_provider: form.csrf_provider

            logout:
                path:           /logout
                target:         /
                invalidate_session: true
            anonymous:    true

    access_control:
        # URL of FOSUserBundle which need to be available to anonymous users
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: %chanel_require% }
        - { path: ^/register, role: [ROLE_USER], requires_channel: %chanel_require% }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: %chanel_require% }
        - { path: ^/admin/, role: ROLE_ADMIN }

        # Secured part of the site
        # This config requires being logged for the whole site and having the admin role for the admin part.
        # Change these rules to adapt them to your needs
        - { path: ^/api/doc/.*, role: [ROLE_SUPER_ADMIN], requires_channel: %chanel_require%  }
        - { path: ^/.*, role: [ROLE_USER], requires_channel: %chanel_require% }
        - { path: ^/api/users/.*, role: [ROLE_USER], requires_channel: %chanel_require% }
        - { path: ^/profile/.*, role: [ROLE_USER], requires_channel: %chanel_require% }

    role_hierarchy:
        ROLE_USER: [ROLE_USER]
        ROLE_ADMIN: [ROLE_ADMIN]