<section class="container-fluid view-animation"
         data-ng-show="vm.showView">

    <h1 class="text-center">Gestion des inscriptions</h1>
    <div class="col-md-10 col-md-offset-1 col-lg-5 espace-top">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Newsletters / Campagnes
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-12 col-lg-4">
                    <select class="form-control" title="">
                        <option>Newsletters</option>
                        <option>Campagne</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <ul class="list-group liste-choix-destinataire">
                        <li ng-repeat="newsletter in vm.newsletters | orderBy: 'nom'" class="list-group-item">
                            <label class="checkbox-inline">
                                <input type="radio" name="newsletter" id="{{newsletter.id}}"
                                       data-ng-disabled="vm.selectionNonSauvegarde"
                                       data-ng-click="vm.changeSelection(newsletter.id)"
                                       data-ng-model="newsletter.select">
                                {{newsletter.nom}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="espace-top col-md-10 col-md-offset-1 col-lg-5 col-lg-offset-0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Destinataires / Listes de diffusion
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="alert alert-warning col-sm-12" role="alert" data-ng-show="vm.selectionNonSauvegarde">
                        <span>Il y a des modifications à sauvegarder.</span>
                        <div class="pull-right">
                            <button class="btn btn-success" data-ng-click="vm.saveChange()">Sauvegarder</button>
                            <button class="btn btn-danger" data-ng-click="vm.ignoreAlert()">Ignorer</button>
                        </div>
                    </div>
                    <div class="col-sm-12 no-padding">
                        <ul class="list-group liste-choix-destinataire">
                            <li ng-repeat="liste in vm.listesDiffusions | orderBy: 'nom'" class="list-group-item">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="{{liste.id}}" ng-model="liste.select"
                                           data-ng-click="vm.selectionNonSauvegarde = true"
                                           data-ng-disabled="vm.idNewsletterSelected === null">
                                    {{liste.nom}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

