<section class="container-fluid view-animation"
         data-ng-show="vm.showView">

    <h1 class="text-center">Gestion des inscriptions</h1>
    <div class="col-md-10 col-md-offset-1 col-lg-5 espace-top">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Newsletters / Campagnes
            </div>
            <div class="panel-body">
                <div class="form-group col-lg-4">
                    <select class="form-control" title="">
                        <option>Newsletters</option>
                        <option>Campagne</option>
                    </select>
                </div>
            </div>
            <ul class="list-group" id="liste-choix-destinataire">
                <li ng-repeat="newsletter in vm.newsletters | orderBy: 'nom'" class="list-group-item">
                    <label class="checkbox-inline"><input type="checkbox" id="{{newsletter.id}}" ng-model="newsletter.select">
                        {{newsletter.nom}}
                    </label>
                </li>
            </ul>
        </div>
    </div>


    <div class="espace-top col-md-10 col-md-offset-1 col-lg-5 col-lg-offset-0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Destinataires / Listes de diffusion
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</section>

