<section class="container-fluid view-animation"
         data-ng-show="vm.showView" id="accueil-view">

    <h1 class="text-center">Gestion des newsletters</h1>
    <div class="col-md-offset-1 col-md-10 col-lg-8 col-lg-offset-2 espace-top">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gestion des newsletters
            </div>
            <div class="panel-body">
                <div class="col-md-5 form-group">
                    <select class="form-control" title="Newsletters"
                            data-ng-model="vm.currentCampagne"
                            data-ng-change="vm.rechercheNewsletters(vm.currentCampagne)"
                            data-ng-options="liste as liste.nom for liste in vm.campagnes | orderBy:'nom' track by liste.id">
                    </select>
                </div>
                <div class="col-md-7">
                    <ul class="col-xs-10 list-group no-padding" id="liste-choix-newsletter">
                        <li data-ng-repeat="newsletter in vm.newsletters | orderBy: 'nom'"
                            class="list-group-item" ng-class="{'newsletter-active': newsletter.id === vm.currentNewsletter.id}">
                            <button ng-click="vm.getNewsletter(newsletter.id)" ng-disabled="newsletter.id === vm.currentNewsletter.id"
                                    class="btn-primary-outline">
                                {{ ::newsletter.nom }}
                            </button>
                        </li>
                    </ul>
                    <div class="col-xs-2">
                        <button class="btn btn-success text-center" ng-click="vm.openNewsletterModal()">
                            <span>
                                <i class="glyphicon glyphicon-plus"></i><br>
                            </span>
                        </button>

                        <button class="btn btn-danger text-center margin-top-10"
                                data-ng-disabled="!vm.currentNewsletter.id"
                                ng-click="vm.deleteNewsletter(vm.currentNewsletter.id)">
                            <span>
                                <i class="glyphicon glyphicon-minus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="espace-top col-md-offset-1 col-md-10 col-lg-8 col-lg-offset-2 view-animation" ng-show="vm.currentNewsletter">
        <!--Formulaire d'ajout de destinataire-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{vm.currentNewsletter.nom}}
            </div>
            <div class="panel-body">
                <div ng-bind-html="vm.trustAsHtml(vm.currentNewsletter.contenus[0].contenu_h_t_m_l)"></div>
                <div class="espace-top">
                    <button class="btn btn-success">Voir la liste des inscrits</button>
                    <button data-ng-click="vm.modifierNewsletter()" class="btn btn-success">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</section>

